.featured-dog {
  padding: $main-spacing;
  border: 1px solid $border-color;
  display: flex;
  flex: 1;
}

.featured-dog__wrapper {
  flex: 1;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.featured-dog__image {
  position: relative;

  img {
    width: 100%;
    max-height: 100%;
  }
}

.featured-dog__description {
  flex: 1;
  padding: 0 $main-spacing;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-dog__bg {
  position: absolute;
  top: 0;
  left: 0;

  height: 110%;
  width: 110%;

  margin: -5%;

  padding: $main-spacing;
  filter: blur(10px);
  background-size: cover;
}
